/* ========================= ШРИФТИ =============================== */

/*------------------- Підключення шрифтів ------------------------- */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:500,600,800,900&display=swap");


/* Скидання стилів */
@import url("reset.css");


[class*="__title"] {
	text-transform: capitalize;
	margin-bottom: 20px;
	font-size: 30px;
    text-align: center;
    font-weight: 600;
    font-family: Causten;
    color: #3b5f18;
}

body {
	font-family: "Inter", sans-serif; /* За замовченням "Times New Roman" */
	font-size: 18px; /* За замовченням 16px */
	color: #7d7d7d; /* За замовченням #000000 */
}




.why-us {
}
.title {
	color: #37393F;
	text-align: center;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 600;
	line-height: 127%; /* 38.1px */
}
.why-us__text {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 146.187%; /* 26.314px */
}
.why-us__title {
	color: #6B77E5;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 127%; /* 25.4px */
}

 


.project {
}
.project__title {
	color: #37393F;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 600;
	line-height: 127%; /* 38.1px */
}
.project__text {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 146.187%; /* 26.314px */
}
.project__list {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 146.187%; /* 26.314px */
}
.second-page {
	color: blue;
}



/* ------------------------------------------- */

.header {
}
.header__title {
}
.block__text {
	font-family: Rubik;
	font-weight: 800;
	color: black; 
	margin-bottom: 20px;
}

.main__card {
}
.main__title {
}
.main__image {
	text-align: center;
	margin-bottom: 20px;
}
.footer {
}

.underline {
	text-decoration: underline;
}
.through {
	text-decoration: line-through;	
}

.overline {
	text-decoration: overline;
	text-shadow:  5px 5px 10px rgba(4, 11, 5, 0.9);
	
}


