/* Скидання стилів */
@import url("font.css");
@import url("reset.css");
/* ------------------------------------------------ */
body {
	font-family: "Inter", sans-serif; 
	font-size: 18px; 
	color: #7D7D7D; 
}
/* ----------------------------------------------- */
/*                        page                     */
.page-licencing {
}
.page-project {
}
.page-clothing {
}
.page__article {
}
/* ------------------------------------------------ */


.licencing-title {
	color: #37393F;
	margin-bottom: 25px;
	text-align: center;
	font-weight: 700;
	font-size: 60px;
	line-height: 121%;
}

.licenceng-information {
	text-align: center;
	color: #37393F;
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
}

.licenceng-information span{
	display: inline-block;
	margin-right: 6px;
	background-color: #40DDB6;
	width: 12px;
	height: 12px;
}
.licencing-icons {
	color: #37393F;
	font-size: 40px;
	font-weight: 700;
	line-height: 121%; /* 48.4px */
}
.licencing-text {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 146.187%;
	margin-bottom: 31px;
}


.licencing-phosphor {
	color: #37393F;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 100px;
}
.licencing-phosphor span {
	color: #40DDB6;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.2;
}




.licencing-photography  {
}

.photography-title {
	color: #37393F;
	font-family: Poppins;
	font-size: 40px;
	font-weight: 700;
	line-height: 121%; /* 48.4px */
	margin-bottom: 11px;
}
.photography-text {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 146.187%; /* 26.314px */
	margin-bottom: 24px;
}






.licencing-pexels {
}


.pexels-title {
	color: #37393F;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 11px;
}
.pexels-title span {
	color: #40DDB6;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 24px;
}

.pexels-text {
	color: #40DDB6;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 146.187%; /* 26.314px */
	margin-bottom: 32px;
}




.licencing-unsplash {
}

.unsplash-title {
	color: #37393F;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 11px;
}
.unsplash-title span{
	color: #40DDB6;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 24px;
}
.unsplash-text {
	color: #40DDB6;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 146.187%; /* 26.314px */
	margin-bottom: 32px;
}




.licencing-fonts {
}

.fonts-title {
	color: #37393F;
	font-size: 40px;
	font-weight: 700;
	line-height: 121%; /* 48.4px */
}
.fonts-text {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 146.187%; /* 26.314px */
	margin-bottom: 11px;
}
.fonts-text span{
	color: #40DDB6;
}


/* ----------------------Project-------------------------- */




.project {
	padding: 100px 0px 100px 0px;
}


.project__information {
	color: #37393F;
	font-family: Poppins;
	font-size: 40px;
	font-weight: 700;
	line-height: 127%; /* 50.8px */
	margin-bottom: 10px;
}


.project__text {
	margin-bottom: 40px;
}
.project__sub_text {
	margin-bottom: 34px;
}




.project__list-1 {
	margin-bottom: 35px;
	padding-left: 40px;
}

.project__list li{
	margin-bottom: 30px;
}



.project__compellingly-1 {
	margin-bottom: 35px;
}



.project__list-2 {
	margin-bottom: 35px;
	padding-left: 40px;
}

.project__compellingly-2 {
}

/* --------------------------------------------------------------------- */


.clothing {
	padding-bottom: 80px;
}

.clothing__title {
	color: #3C4242;
	font-family: Core Sans C, sans-serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 33.5px; /* 119.643% */
	letter-spacing: 0.56px;
	margin-bottom: 30px;
}
.clothing__title span{
	display: inline-block;
	margin-right: 15px;
	width: 6px;
	height: 28px;
	border-radius: 10px;
	background: #8A33FD;
}
.clothing__sub_title {
	color: #807D7E;
	margin-bottom: 25px;
	font-family: Core Sans C, sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 33.5px; /* 167.5% */
	letter-spacing: 0.4px;
}

.clothing__text {
	color: #807D7E;
	font-family: Causten;
	font-size: 20px;
	font-weight: 400;
	line-height: 33.5px; /* 167.5% */
	letter-spacing: 0.4px;
	margin-bottom: 20px;
}
.clothing__text span{ 
	font-weight: 700;
}

/* -------------------------------------- */


.article {
	
}


.article__body {
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
}
.article__body:nth-child(1) {
	width: 503px;
}

.article-fourth__part:nth-child(2) {
    width: 515px;
    font-size: 0;
}
.article > :not(:last-child) {
	margin-right: 85px;
}
.article__subtitle {
	color: #D58417;
	text-transform: uppercase;
	font-family: Cormorant Infant;
	font-size: 20px;
	font-weight: 700;
	line-height: 1; /* 20px */
}
.article__title {
	color: #000;
	font-family: Cormorant Infant;
	text-transform: capitalize;
	font-size: 64px;
	font-weight: 700;
	line-height: 1; /* 64px */
}
.article__description {
	color: #606060;
	font-family: Cormorant Infant;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.4; /* 42px */
}





.article__image {
	width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 235px;
    transform: translate(-10px, 14px);
}

.article__image:nth-child(2) > :not(last-child) {
	margin-right: 30px;
}

.article__image:nth-child(1) {
    width: 177px; 
    height: 336px;
}